.card {
  width:min-content;
  border-radius: 16px;
  border: 2px solid black;
  /*padding: 20px;*/
  text-align: left;
  /*background: coral;*/
}
.my-header {
  height: 100px;
  background: darkcyan;
   align-items: center;
  display: flex;
  justify-content: space-around;
}
.my-header-icon {
  height: 80px;
}
.bender {
  width: 300px;
  height: 250px;
}
